<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Official NuGet Gallery -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    
    <!-- GitLab Package Registry (uncomment to use) -->
    <!-- <add key="gitlab" value="${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/nuget/index.json" /> -->
  </packageSources>
  
  <packageSourceCredentials>
    <gitlab>
      <add key="Username" value="gitlab-ci-token" />
      <add key="ClearTextPassword" value="${CI_JOB_TOKEN}" />
    </gitlab>
  </packageSourceCredentials>
  
  <config>
    <!-- Global packages folder -->
    <add key="globalPackagesFolder" value="${CI_PROJECT_DIR}/.nuget/packages" />
    
    <!-- Temp cache folder -->
    <add key="http_proxy.cache" value="${CI_PROJECT_DIR}/.nuget/v3-cache" />
    
    <!-- Lock file settings -->
    <add key="restorePackagesPath" value="${CI_PROJECT_DIR}/.nuget/packages" />
  </config>
  
  <solution>
    <!-- Disable package source mapping -->
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
</configuration>